---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  tabindex?: string;
  target?: string;
}

const {
  href,
  className,
  ariaLabel,
  title,
  tabindex,
  target = "_blank",
} = Astro.props;
---

<a
  type="button"
  href={href}
  tabindex={tabindex}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  target={target}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
